body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* border: 1px solid blue; */
}

  .head{
    /* border: 2px red solid; */
    padding: 10px;
    height: 20%;
    border-bottom: black 3px solid;
    background-color: rgb(57, 145, 57);
  }

  .below-header{
    display: flex;
    /* border: 2px solid green; */
    height: 40rem;
  }

    .tab-list{
      /* border: 2px red solid; */
      border-right: black 3px solid;
      width: 15rem;
      padding-left: 5px;
      background-color: rgb(145, 175, 92);
    }

      h3{
        /* border: 2px solid red; */
        font-size: 25px;
        border-bottom: 2px solid black;
      }

      h3:hover{
        background-color: rgba(190, 190, 190, 0.555);
        cursor: pointer;
      }

      /* .projects-tab{

      } */

    .content-body{
      /* border: 2px red solid; */
      /* height: 100%; */
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-left: 10px;
    }

      .propage{
        background-color: rgba(85, 85, 85, 0.651);
      }

        .probtn{
          border: 2px black solid;
          /* border-radius: 3px; */
          background-color: rgb(216, 187, 108);
        }

      .notePage{
        display: none;
      }

      .listPage{
        display: none;
      }

      /* everything below is for the modals */
      
      .modal{
        display: none;
        z-index: 1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
        padding: 5% 15%;
      }
      
      .modal-content{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fefefe;
        width: 70%;
        height: 70%;
        border: 5px rgb(88, 86, 86) solid;
        border-radius: 25px;
        /* overflow-y: scroll;
        overflow-x: none; */
      }
      
      form{
        font-size: 25px;
      }
      
      input{
        padding: 5px;
        margin: 15px;
      }
      
      input:hover{
        background-color: rgba(0, 0, 0, 0.1);
      }

      .close-modal{
        position: relative;
        left: 50%;
        top: -35%;
        font-size: 80px;
      }
      
      .close-modal:hover{
        color: rgb(117, 111, 111);
        cursor: pointer;
      }

      #buttonModal{
        border: 3px rgb(52, 52, 116) solid;
        border-radius: 5px;
        background-color: rgb(172, 172, 206);
      }
      
      #buttonModal:hover{
        background-color: rgb(103, 199, 140);
        cursor: pointer;
        transform: translate3d(180, 90, 90);
      }