*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* border: 1px solid blue; */
}

  .head{
    /* border: 2px red solid; */
    padding: 10px;
    height: 20%;
    border-bottom: black 3px solid;
    background-color: rgb(57, 145, 57);
  }

  .below-header{
    display: flex;
    /* border: 2px solid green; */
    height: 85.125vh;
  }

    .tab-list{
      /* border: 2px red solid; */
      border-right: black 3px solid;
      width: 15rem;
      padding-left: 5px;
      background-color: rgb(145, 175, 92);
    }

      h3{
        font-size: 25px;
        border-bottom: 2px solid black;
      }

      h3:hover{
        background-color: rgba(190, 190, 190, 0.555);
        cursor: pointer;
        transform: scale(1.03, 1.03);
      }

      /* .projects-tab{

      } */

    .content-body{
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 10px;
    }

      .proPage{
        display: flex;
        flex-direction: column;
      }

        .pheader, .nheader, .lheader{
          border-bottom: black 4px solid;
        }

        .proBtn, .btn2, .btn3{
          position: relative;
          top: -83px;
          left: 135px;
          border: 2px black solid;
          border-radius: 3px;
          background-color: rgb(216, 187, 108);
          width: 65px;
          height: 55px;
        }

        .proBtn:hover{
          cursor: pointer;
          background-color: rgb(112, 97, 55);
        }

      .pbox, .nbox, .lbox{
        border: 2px rgb(103, 130, 170) solid;
        border-radius: 5px;
        background-color: rgb(76, 240, 232);
        padding: 4px;
        height: 80%;
        width: 80%;
        margin: 5px;
      }

      .notePage{
        display: none;
      }

      .nbox{
        background-color: #da6767de;
      }

      .listPage{
        display: none;
      }

      .lbox{
        background-color: #d4d250e0;
      }

      /* everything below is for the modals */
      
      .modal{
        display: none;
        z-index: 1;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
        padding: 5% 15%;
      }
      
      .modal-content{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fefefe;
        width: 70%;
        height: 70%;
        border: 5px rgb(88, 86, 86) solid;
        border-radius: 25px;
        /* overflow-y: scroll;
        overflow-x: none; */
        overflow: auto;
        scrollbar-width: none;
      }

      .modal-content::-webkit-scrollbar{
        display: none;
      }
      
      form{
        font-size: 25px;
      }
      
      #choices, #description, #date{
        margin: 5px;
      }

      #choices{
        margin-top: 25px;
        padding-top: 10%;
      }
      
      input{
        padding: 5px;
        margin: 5px;
      }

      textarea{
        padding: 5px;
      }
      
      input:hover{
        background-color: rgba(0, 0, 0, 0.1);
      }

      textarea:hover{
        background-color: rgba(0, 0, 0, 0.1);
      }

      .close-modal{
        position: relative;
        left: 250px;
        top: -200px;
        font-size: 50px;
      }
      
      .close-modal:hover{
        color: rgb(117, 111, 111);
        cursor: pointer;
      }

      #buttonModal{
        position: relative;
        top: 90%;
        left: 60%;
        border: 3px rgb(52, 52, 116) solid;
        border-radius: 5px;
        background-color: rgb(172, 172, 206);
        margin-bottom: 10px;
        width: 35%;
        height: 15%;
      }
      
      #buttonModal:hover{
        background-color: rgb(103, 199, 140);
        cursor: pointer;
        transform: translate3d(180, 90, 90);
      }